* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    line-height: 1.6;
}
*{
    color: rgb(214, 0, 0);
}
h1{
    color: #ffd500;
}
p{
    color: rgb(189, 139, 3);
}
h2{
    color: rgb(6, 34, 62);
}
.service img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.service {
    width: 30%;
    min-width: 280px;
    background-color: #222;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}
.service {
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
}
.service-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background-color: #e63946;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.service-btn:hover {
    background-color: #ff6b6b;
    transform: scale(1.05);
}
@media (max-width: 768px) {

    .services {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 90%;
    }

    .service img {
        width: 100%;
        height: 200px;
    }

}
@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .nav-links {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {
        font-size: 22px;
    }

}
